body {
    color: brown;
  }
  h1 {
    color: red;
    background-color: pink;
    color: yellow;
    font-size: 40px;
  }

  h2 {
    color: rgb(87, 25, 25);
    background-color: rgb(212, 77, 100);
    color: rgb(15, 69, 150);
    font-size: 40px;
  }
  
  h3 {
    color: rgb(17, 138, 128);
    background-color: rgb(112, 78, 84);
    color: rgb(77, 77, 18);
    font-size: 40px;
  }
  
  h4 {
    color: rgb(56, 187, 44);
    background-color: rgb(58, 16, 23);
    color: rgb(235, 148, 114);
    font-size: 40px;
  }
  
  h5 {
    color: rgb(8, 129, 185);
    background-color: rgb(100, 196, 55);
    color: rgb(224, 109, 196);
    font-size: 40px;
  }
  
  h6 {
    color: rgb(13, 58, 141);
    background-color: rgb(182, 171, 173);
    color: rgb(20, 187, 84);
    font-size: 40px;
  }

  h7 {
    color: rgb(13, 58, 141);
    font-size: 80px;
  }
  
  .quote {
    color: gray;
  } 
  
  .quote.narrator{
  color: black;
  font-size: 32px;
  }
  
  .celebration{
    background-color: pink;
    color: yellow;
    font-size: 40px;
  }
  
 
  .audio-player {
    width: 15rem;
    height: 15rem;
  }
  
  .icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .audio-icon {
     width: 90%;
     height: 90%;
  }